@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Date</title>
    <script src="~/Scripts/JS/HDate.js"></script>
</head>
<body>
    <div>
        Tesitng the Data Stuff;
    </div>
</body>
</html>
