@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FNO4</title>
    <script src="~/Scripts/JS/FunctionsAndObjects_Part4.js"></script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
