@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<script src="~/Scripts/JS/JSStuff.js"></script>*@
@*<script src="~/Scripts/JS/FunctionsAndObjects.js"></script>*@
@*<script src="~/Scripts/JS/FunctionsAndObjects_Part2.js"></script>*@
<script src="~/Scripts/JS/FunctionsAndObjects_Part3.js"></script>
<script>
//These calls are for JSStuff.js
    //alert(Add(1, 2, null));
    //alert(AddString('a', 'b','c','d'));
    
</script>

<div>
    @Html.ActionLink("Check Scope of JS variables in Callbacks", "JavascriptScopeCallBacks");
</div>