@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JavascriptScopeCallBacks</title>
    <script src="~/Scripts/JS/JSScopeInCallbacks.js"></script>
</head>
<body onload="initialize()">
    <div>
        <h2>Javascript callbacks</h2>
    </div>
    <div>
        <span id="output">
            
        </span>
        
        <span id="outputDirect">
            
        </span>
    </div>
</body>
</html>
