@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JavascriptScopeInNestedFunctions</title>
    <script src="~/Scripts/JS/JSScopeInNestedFunctions.js"></script>
</head>
<body>
    <div>
        Testing out Javascript scope in Nested Functions
    </div>
</body>
</html>
