@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestGlobal</title>
    <script type="text/javascript">
        function OnLoad() {
            
        }
    </script>
</head>
<body>
    <div>
        <!--Testing Global Parameters -->

    </div>
</body>
</html>
