@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@Scripts.Render("~/bundles/Hariom")*@;
@*@Scripts.Render("~/Scripts/TestObjectVSGlobalVariables.js")*@;
@*@Scripts.Render("~/Scripts/TestObjectVSGlobalVariables2.js")*@;
@Scripts.Render("~/Scripts/TestObjectVSGlobalFunction.js");
