<?xml version="1.0" encoding="utf-8"?>
<log4net>
    <!-- Follow the below link for more documentation around log4net
      http://logging.apache.org/log4net/release/manual/introduction.html
      http://logging.apache.org/log4net/release/manual/configuration.html -->

        <!-- The recommended appendars for PRODUCTION is FILE.ERROR. For few more lower details, we can enable FILE.INFO too. -->
        <appender name="FILE.ERROR" type="log4net.Appender.RollingFileAppender">
          <file value="logs/zfp-xds-error.log" />
          <appendToFile value="true" />
          <rollingStyle value="Composite" />
          <datePattern value="yyyyMMdd" />
          <maxSizeRollBackups value="-1" />
          <maximumFileSize value="5MB" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{sessionId}] [%property{clientIp}:%property{userId}] [%property{patientId}] - %message%newline" />
          </layout>
          <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="WARN" />
            <levelMax value="FATAL" />
          </filter>
        </appender>

        <!-- Enable below appender for more logs - INFO based -->
        <!--<appender name="FILE.INFO" type="log4net.Appender.RollingFileAppender">
          <file value="logs/zfp-xds-info.log" />
          <appendToFile value="true" />
          <rollingStyle value="Composite" />
          <datePattern value="yyyyMMdd" />
          <maxSizeRollBackups value="-1" />
          <maximumFileSize value="5MB" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{sessionId}] [%property{clientIp}:%property{userId}] [%property{patientId}] - %message%newline" />
          </layout>
          <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="INFO" />
            <levelMax value="FATAL" />
          </filter>
        </appender>-->

        <!-- Enable below appender for more logs - DEBUG based -->
        <!--<appender name="FILE.DEBUG" type="log4net.Appender.RollingFileAppender">
          <file value="logs/zfp-xds-debug.log" />
          <appendToFile value="true" />
          <rollingStyle value="Composite" />
          <datePattern value="yyyyMMdd" />
          <maxSizeRollBackups value="-1" />
          <maximumFileSize value="5MB" />
          <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date [%thread] %-5level %logger [%property{sessionId}] [%property{clientIp}:%property{userId}] [%property{patientId}] - %message%newline" />
          </layout>
          <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />  
          </filter>
        </appender>-->
  
        <!-- Enable below appender for getting logs generated by client machines [browsers]
             These logs are used for performance measurements submitted by browsers. -->  
        <!--<appender name="FILE.PERF" type="log4net.Appender.RollingFileAppender">
          <file value="logs/zfp-xds-perf.log" />
          <appendToFile value="true" />
          <rollingStyle value="Composite" />
          <datePattern value="yyyyMMdd" />
          <maxSizeRollBackups value="-1" />
          <maximumFileSize value="5MB" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date - %message%newline" />
          </layout>
          <filter type="log4net.Filter.StringMatchFilter">
            <stringToMatch value="Client-Log" />
            <acceptOnMatch value="false" />
          </filter>
          <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="GEHealthcare.PIV.PIVotal.Controllers.LogPerformanceController" />
          </filter>
          <filter type="log4net.Filter.DenyAllFilter" />
        </appender>-->

        <!-- Enable below appender for getting logs generated by snowbound library while thumbnail converstion -->
        <!--<appender name="FILE.SNOWBOUND" type="log4net.Appender.RollingFileAppender">
          <file value="logs/zfp-xds-snowbound.log" />
          <appendToFile value="true" />
          <rollingStyle value="Composite" />
          <datePattern value="yyyyMMdd" />
          <maxSizeRollBackups value="-1" />
          <maximumFileSize value="5MB" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level - %message%newline" />
          </layout>
          <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="GEHealthcare.PIV.PIVotal.Common.Snowbound" />
          </filter>
          <filter type="log4net.Filter.DenyAllFilter" />
        </appender>-->
	<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
		<logName value="GE-ZFP"/>
		<!--<param name="logName" type="log4net.Util.PatternString" value="%property{LogName}" />-->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<root>
            <level value="WARN" /> <!-- Applicable log levels are in preference order: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
            <appender-ref ref="FILE.ERROR" />
			<appender-ref ref="EventLogAppender" />
            <!--<appender-ref ref="FILE.INFO" />
            <appender-ref ref="FILE.DEBUG" />
            <appender-ref ref="FILE.PERF" />
            <appender-ref ref="FILE.SNOWBOUND" />-->
        </root>
	
	<!-- Configuring assembly level logging. Print only messages of level WARN or above in the package Com.Foo -->
	<!--<logger name="Com.Foo">
		<level value="WARN" />
	</logger>-->
</log4net>