@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
<h1><b>Hi this is Hariom here !! Awsome content is on its way...Hold on to your horses !!</b></h1>
