@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Canvas</title>
    <style>
        canvas
        {
            border: 1px solid black;
        }
    </style>
    <script>
        window.onload = function() {
            var canvas = document.getElementById("idCanvas");
            var context = canvas.getContext("2d");
            
            var imageObj = new Image();

            imageObj.onload = function () {
                context.drawImage(imageObj, 69, 50);
                //This will create the diagrams on the picture, the picture will become the background
                context.fillRect(10, 10, 100, 100);

                context.beginPath();
                context.moveTo(100, 150);
                context.lineTo(250, 75);
                context.lineTo(125, 30);
                context.closePath();
                context.lineWidth = 5;
                context.stroke();
                context.fillStyle = "red";
                context.fill();
            };
            imageObj.src = 'http://www.html5canvastutorials.com/demos/assets/darth-vader.jpg';
            
            
        }
    </script>
</head>
<body>
    <canvas id="idCanvas" width="600" height="200"></canvas>
</body>
</html>
