@model WebAPISampleProject.Models.HTML5Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayImageOnCanvas</title>
    <script src="~/Scripts/JS/Canvas.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/JS/IndexedDB.js"></script>
    <script src="~/Scripts/JS/IndexedDBWrapper.js"></script>
    <script src="~/Scripts/JS/Global.js"></script>
    <script src="~/Scripts/JS/CanvasColor.js"></script>
    <script src="~/Scripts/JS/CanvasRenderer.js"></script>
    <script>
        function invokeZfp() {
            var launchUrl = "http://localhost/zfp";
            window.open(launchUrl);
        }
        function DisplayImageAgain() {
            alert("Displaying image again");
            DisplaySampleLosslesImages();
        }
    </script>
 <style type="text/css">
     .divider
     {
         position: absolute;
         left: 50%;
         top: 10%;
         bottom: 10%;
         border-left: 1px solid white;
     }
     .sampleImg
     {
         display: block;
         position: relative;
         margin: 5px;
         float: left;
     }
     .row
     {
         display: table-row;
     }
     .horizontal {
         float: right;
     }
     .main {
         /*width:90%;*/
         width:1500px;
         margin-left: auto;
         margin-right: auto;
         background-color: green;
     }
     .leftcanvas {
         margin-left: 5%;
     }
     .rightcanvas {
         margin-right: 5%;
     }
     .imgCanvas {
         height:400px;
         width:400px;
         border: 1px solid black;
     }
     </style>

</head>
    <body style="background-color: greenyellow">
        <button onclick="invokeZfp()">Invoke ZFP</button>
        <button onclick="DisplayImageAgain()">Display Lossless Image Again</button>
        <div>
        
            <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGP C/xhBQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9YGARc5KB0XV+IA AAAddEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIFRoZSBHSU1Q72QlbgAAAF1J REFUGNO9zL0NglAAxPEfdLTs4BZM4DIO4C7OwQg2JoQ9LE1exdlYvBBeZ7jq ch9//q1uH4TLzw4d6+ErXMMcXuHWxId3KOETnnXXV6MJpcq2MLaI97CER3N0 vr4MkhoXe0rZigAAAABJRU5ErkJggg==" alt="Red dot" />
        </div>
        <div>
            @*        <img id="BAse64Image" src = "@Model.Base64EncodedImage"
              alt="Image generated from base 64 encoded string"  />*@
            @*<img id="forCanvas" src="http://localhost/Images/Car.JPG" height="512" width="512"/>*@
            @*<img id="forCanvas" height="512" width="512"/>*@
            <canvas id="forCanvas" height="10" width="10" style="border:1px solid black"></canvas>
        </div>
        
        @*<div class="sampleImg">
                <canvas id="dcmCanvasLossy" height="400" width="400" style="border:1px solid black"></canvas>
                <div>
                    <span>Lossy Image</span>
                </div>
            </div>*@
        <div class="main">
            <div>
                <div class="horizontal rightcanvas">
                    <canvas id="dcmCanvasLossless1" class="imgCanvas"></canvas>
                    <div>
                        <span>Image no. 2: Lossless Image Using Canvas</span>
                    </div>
                </div>
                <div class="leftcanvas">
                    <canvas id="dcmCanvasLossless0" class="imgCanvas"></canvas>
                    <div>
                        <span>Image no. 1: Lossless Image Using Canvas</span>
                    </div>
                </div>
            </div>
            <div>
            <div class="horizontal rightcanvas">
                <canvas id="dcmLosslessWebGL1" class="imgCanvas"></canvas>
                <div>
                    <span>Image no. 4: Lossless Image Using WebGL</span>
                </div>
            </div>
                <div class="leftcanvas">
                    <canvas id="dcmLosslessWebGL2" class="imgCanvas"></canvas>
                    <div>
                        <span>Image no. 3: Lossless Image Using WebGL</span>
                    </div>
                </div>
             </div>
        </div>
        <script>
        //http://jsfiddle.net/gtKBs/
        //DrawImage(); //Draws the car image on the Canvas
        //DrawImageFromZFP(); //Draws image by launching study in Zfp and calling their image APIs to retrieve the image byte array
            //var patientName = "IllVery"; //"LEESUNG"; //"LLOPIS_7MP"; //"LLOPIS";
            var patientName = "";
            function DisplaySampleLosslesImages() {
                HSK.Globals.canvasIndex = -1;
                //DrawImageByReadingImageDataFromFileSystem(patientName);
                //patientName = "Color";
                //DrawImageByReadingImageDataFromFileSystem(patientName);
                //patientName = "LLOPIS";
                //DrawImageByReadingImageDataFromFileSystem(patientName);
                patientName = "ZfpUs"; //"ZfpUs"; LEESUNG
                DrawImageByReadingImageDataFromFileSystem(patientName);
            }

            DisplaySampleLosslesImages();
        </script>
    </body>
</html>
