@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebGL</title>
    <script src="~/Scripts/JS/Libraries/glMatrix-0.9.5.min.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/JS/WebGL.js"></script>
    <script src="~/Scripts/JS/LearnWebGL.js"></script>
    <script src="~/Scripts/JS/WebGLRenderer.js"></script>
    <style type="text/css">
        .row
        {
            display: table-row;
        }

        .sampleImg
        {
            /*display: block;
         position: relative;*/
            margin: 5px;
            float: left;
        }
    </style>
    
    <script id="shader-fs" type="x-shader/x-fragment">
    precision mediump float;

    void main(void) {
        gl_FragColor = vec4(0.5, 0.2, 1.0, 1.0);
        //gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0); This will display areas in white color
    }
</script>

    <script id="shader-vs" type="x-shader/x-vertex">
    attribute vec3 aVertexPosition;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;

    void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    }
</script>

</head>
    <body>
        <div>
            <div>
                <h1>Displaying an image on to Canvas</h1>
            </div>
            <div>
                <div id="page-wrapper">

                    <!--<h1>Text File Reader</h1>-->
                    <div>
                        Upload a file to display:<br/><br/>
                        <input type="file" id="fileInput"/>
                    </div>
                    <pre id="fileDisplayArea"></pre>
                </div>
            </div>
        </div>
        <div>
            <div id="canvas">
                <canvas id="canvas1" width="512" height="512" style="border: 1px black solid"></canvas>
            </div>
        </div>
        <div>
            <div class="sampleImg">
                <canvas id="myCanvas" width="500" height="500" style="border: 1px solid black; background-color: red"></canvas>
            </div>
            <div class="sampleImg">
                <canvas id="canvasLossyImage" width="400" height="400" style="border: 1px solid black; background-color: blue"></canvas>
            </div>
            <div class="sampleImg">
                <canvas id="canvasLosslessImage" width="400" height="400" style="border: 1px solid black; background-color: yellow"></canvas>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            //DisplayLossyImage();
            //webGLStart();
        });
    </script>
</html>s
