<?xml version="1.0" encoding="utf-8"?>
<Coverity.Prevent.Desktop.Configuration>
  <Version>7.0.3</Version>
  <DataBase>
    <UseSSL>false</UseSSL>
    <SavePassword>true</SavePassword>
    <RemoteDbLocation />
    <RemoteDbPort>8080</RemoteDbPort>
    <UserName />
    <UserPassword />
  </DataBase>
  <CentralAnalysisProject />
  <DefectsFoundBy>
    <DefectsSource>LocalOnly</DefectsSource>
    <LastFoundBy />
    <DefectSourceStream />
    <DefectSourceLanguage />
  </DefectsFoundBy>
  <AnalysisBuildSettings>
    <BuildConfig>
      <BuildWithInstrument>false</BuildWithInstrument>
      <ContinueAnalysisAfterBuildFail>false</ContinueAnalysisAfterBuildFail>
    </BuildConfig>
    <UseSolutionCheckers>false</UseSolutionCheckers>
    <ImportMicrosoftCodeAnalysis>false</ImportMicrosoftCodeAnalysis>
    <CheckersOverridenFirstTime>false</CheckersOverridenFirstTime>
    <Checkers />
  </AnalysisBuildSettings>
  <CentralAnalysisEnabled>false</CentralAnalysisEnabled>
  <StripPaths>
    <RemoteStripPaths />
    <LocalStripPaths />
  </StripPaths>
  <LocalAnalysisCores>1</LocalAnalysisCores>
  <UseGlobalRemoteSettings>true</UseGlobalRemoteSettings>
  <SolutionFiles />
  <UseSolutionBuildSettings>false</UseSolutionBuildSettings>
  <BuildSettingsOverridenFirstTime>false</BuildSettingsOverridenFirstTime>
</Coverity.Prevent.Desktop.Configuration>