@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              This is a test page by Hariom Singh Kuntal
        </div>
    </body>
</html>